<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style_index.css") }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
        <script type="text/javascript" src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/htmx.min.js') }}" defer></script>
    {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>