{% extends 'layouts/base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        .sidebar {
            background: #a5a5a533;
            width: 200px;
            padding: 4px;
            margin: 2vh;
            height: 90vh;
            border-radius: 1rem;
            display: flex;
        }

        .sidebar a {
            text-decoration: none;
            color: black;
            border-radius: 3px;
            border-color: antiquewhite;
            background: #dafff4;
            padding: 6px;
            text-align: center;
            transition: background-color .5s;
        }

        .sidebar a:hover {
            background-color: var(--accent);
        }

        .sidebar a.active {
            background-color: var(--accent);
        }

        #content {
            position: relative;
            background: #dbdbdb;
            width: 100%;
            margin: 2vh;
            border-radius: 1vh;
        }

        .sidebar .profile a {
            background: #0000002e;
            width: 100%;
            box-shadow: #0000008c 0px 1px 7px 0px;
            font-family: 'Inknut Antiqua', serif;
            font-size: 12px;
        }
        .sidebar .profile a.active {
            background-color: var(--accent);
        }
    </style>

{% endblock %}

{% block content %}
    <div style="display: flex;flex-direction: row;">

        <div class="sidebar">
            <nav class="navbar" style="justify-content: center">
                <div class="profile" style="align-self: flex-start;width: 70%; display: flex">
                    {% block profile_pic %}

                    {% endblock %}
                    <a href="{{ url_for ("common.profile") }}"
                       class="profile {% if active_tab == 'profile' %}active{% endif %}"> {{ session['username'] }}</a>
                </div>
                <div class="container-fluid" style="align-self: flex-start">
                    <div class="row m-2 gap-4">
                        {% if  session['role'] == 'Sponsor' %}

                            <a href="{{ url_for("common.overview") }}"
                               class="overview {% if active_tab == 'overview' %}active{% endif %}"> Overview </a>
                            <a href="/campaigns/"
                               class="campaigns {% if active_tab == 'campaigns' %}active{% endif %}">My Campaigns</a>
                            <a href="/sponsor/find" class="find {% if active_tab == 'find' %}active{% endif %}">
                                Find</a>
                            <a href="/ad_request" class="adrequest {% if active_tab == 'adrequest' %}active{% endif %}">
                                Your Requests
                            </a>
                            <a href="/sponsor/stats" class="stats {% if active_tab == 'stats' %}active{% endif %}"> Stats</a>

                        {% endif %}

                        {% if session['role'] == 'Influencer' %}

                            <a href="{{ url_for("common.overview") }}"
                               class="overview {% if active_tab == 'overview' %}active{% endif %}"> Overview </a>
                            <a href="/influencer/find" class="find {% if active_tab == 'find' %}active{% endif %}">
                                Find</a>
                            <a href="{{ url_for("influencer.ad_request") }}"
                               class="adrequest {% if active_tab == 'adrequest' %}active{% endif %}"> Ad Request </a>
                            <a href="/influencer/act_req"
                               class="active_req {% if active_tab == 'active_req' %}active{% endif %}"> Active Requests </a>
                            <a href="/influencer/in_request"
                               class="in_req {% if active_tab == 'in_req' %}active{% endif %}"> Send Requests </a>
                            <a href="/influencer/stats" class="stats {% if active_tab == 'stats' %}active{% endif %}">
                                Stats </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        <div id="content">
            {% block tab_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
