{% extends 'admin/layout.html' %}

{% block title %}
    Find Campaigns
{% endblock %}

{% block tab_content %}

    <div class="container mt-5 table-responsive">
        <h2 class="mb-4">Campaigns Table</h2>
        <div class="search m-3 d-flex" style="gap: 10px">

            <h5 style="align-self: center">
                Search
            </h5>
            <input class="form-control w-25" type="search"
                   name="search" placeholder="Begin Typing To Search Users..."
                   hx-post="/admin/q_influ"
                   hx-trigger="input changed delay:500ms, search"
                   hx-target="#Tbody"
                   hx-indicator=".htmx-indicator">
            <span class="htmx-indicator">Searching...</span>


        </div>
        <table class="table table-bordered ">
            <thead class="text-center">
            <tr>
                <th>User</th>
                <th>Niche</th>
                <th>Account</th>
{#                <th>End Date</th>#}
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider text-center" id="Tbody">
            {% for influ in influencers %}
                <tr>
                    <td style="text-align: left">
                        <div class="d-flex align-items-center">
                            <img
                                    {% if influ.image != '' %}
                                        src="{{ url_for('static', filename='/uploads/' + influ.image) }}"
                                    {% else %}
                                        src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                                    {% endif %}
                                        alt=""
                                        style="width: 45px; height: 45px"
                                        class="rounded-circle"
                            />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{ influ.name }}  </p>
                                <p class="text-muted mb-0">{{ influ.email }} @{{ influ.user_id }}</p>
                            </div>
                        </div>
                    </td>
                    <td>{{ influ.niche }}</td>
                    <td>{{ influ.channel }}</td>
                    <td>
                        <button class="btn btn-primary"
                                hx-get="/influencer/view?id={{ influ.id }}&sp_id={{ influ.sponsor_id }}"
                                hx-trigger="click" hx-target="#content">View
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}