{% extends 'admin/layout.html' %}

{% block title %}
    Stats
{% endblock %}

{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-auto-flow: row;
            grid-template-areas:
            "d d d"
            "e e e"
            "e e e";

            padding: 10px;
            gap: 10px;
            margin: 20px;
            align-self: center;
            height: 100%;
        }

        .d {
            grid-area: d;
            background-color: white;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .d div {
            background: #dafff4;
            margin: 30px;
            width: 30%;
            border-radius: 9px;
        }

        .e {
            grid-area: e;
            background-color: white;
        }

        #content {
            display: flex;
        }


    </style>
{% endblock %}

{% block tab_content %}

    <div class="container">
        <div class="d">
            d

            {% for datum in data %}
                <div><span style="font-weight: bold"> {{ datum }} </span> : {{ data[datum] }} </div>
            {% endfor %}

        </div>
        <div class="e">
            <div style="width: 800px;">
                <canvas id="acquisitions"></canvas>
            </div>

        </div>
    </div>

    <script>

        (async function () {
            const data = [
                {year: 2010, count: 10},
                {year: 2011, count: 20},
                {year: 2012, count: 15},
                {year: 2013, count: 25},
                {year: 2014, count: 22},
                {year: 2015, count: 30},
                {year: 2016, count: 28},
            ];

            new Chart(
                document.getElementById('acquisitions'),
                {
                    type: 'bar',
                    data: {
                        labels: data.map(row => row.year),
                        datasets: [
                            {
                                label: 'Active Request',
                                data: data.map(row => row.count)
                            }
                        ]
                    }
                }
            );
        })();
    </script>
{% endblock %}