{% extends 'layouts/dashboard_layout.html' %}

{% block title %}
    Active Requests
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        #welcome {
            width: 50%;
            height: calc(12% * 1.618);
            align-self: center;
        }
        #content{
            display: flex;
            flex-direction: row;
        }
    </style>
{% endblock %}

{% block tab_content %}

    <div class="container mt-5 table-responsive">
        <h2 class="mb-4">Incoming Request</h2>
        <div class="search m-3">
            <label>Search
                <input name="search">
            </label>
        </div>
        <table class="table table-bordered ">
            <thead class="text-center">
            <tr>
                <th>Sponsor Name</th>
                <th>Campaign Title</th>

                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider text-center" id="data-table-body">

            {% for i in reqs %}
                <tr>
                    <td>{{ i.sponsor_id }}</td>
                    <td>{{i.campaign_id}}</td>

                    <td>
                        {% if i.completed != 'false' %}
                            <div class="buttn">
                                <button class="btn btn-success btn-sm " {% if i.completed == 'true' %} disabled{% endif %}
                                        hx-post="/influencer/"
                                        hx-swap="outerHTML:beforeend" hx-trigger="click" hx-target="closest .buttn">
                                        Accept
                                </button>
                                <button class="btn btn-danger btn-sm"  hx-post="/influencer/"
                                        hx-swap="outerHTML:beforeend" hx-trigger="click" hx-target="closest .buttn">
                                    Reject
                                </button>
                            </div>
                        {% else %}
                            &#10004;
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    

{% endblock %}