{% extends 'layouts/dashboard_layout.html' %}

{% block title %}
    Find Campaigns
{% endblock %}
    
{% block tab_content %}
    <!-- {{ data }} -->
    <div class="container mt-5 table-responsive">
        <h2 class="mb-4">Incoming Request</h2>

        <table class="table table-bordered ">
            <thead class="text-center">
            <tr>
                <th>Sponsor Name</th>
                <th>Campaign Title</th>
                <th>Message</th>
                <th>Description</th>
                <th>Budget</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider text-center" id="data-table-body">

            {% for index in range(data['sponsor_names'] | length) %}
                <tr>
                    <td>{{ data['sponsor_names'][index] }}</td>
                    <td>{{ data['campaign_title'][index] }}</td>
                    <td>{{ data['message'][index] }}</td>
                    <td>{{ data['description'][index] }}</td>
                    <td>{{ data['budget_from_sponsor'][index] }}</td>
                    <td>
                        {% if data['status'][index] == 'pending' %}
                            <div class="buttn">
                                <button class="btn btn-success btn-sm " {% if data['status'][index] != 'pending' %}
                                        disabled{% endif %}
                                        hx-post="/influencer/active_req/{{ data['campaign_id'][index] }}?status=accept"
                                        hx-swap="outerHTML:beforeend" hx-trigger="click" hx-target="closest .buttn">
                                        Accept
                                </button>
                                <button class="btn btn-danger btn-sm"  hx-post="/influencer/active_req/{{ data['campaign_id'][index] }}?status=reject"
                                        hx-swap="outerHTML:beforeend" hx-trigger="click" hx-target="closest .buttn">
                                    Reject
                                </button>
                            </div>
                        {% else %}
                            &#10004;
                        {% endif %}

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

