{% extends 'layouts/dashboard_layout.html' %}

{% block title %}
    Find Campaigns
{% endblock %}

{% block tab_content %}

    <div class="container mt-5 table-responsive">
        <h2 class="mb-4">Campaigns Table</h2>
        <div class="search m-3">
            <label>Search
                <input name="search">
            </label>
        </div>
        <table class="table table-bordered ">
            <thead class="text-center">
            <tr>
                <th>Title</th>
                <th>Budget</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody class="table-group-divider text-center">
            {% for cmp in public_camps %}
                sponsors
                {{ cmp }}
                <tr>
                    <td>{{ cmp.title }}</td>
                    <td>{{ cmp.budget }}</td>
                    <td>{{ cmp.start_date }}</td>
                    <td>{{ cmp.end_date }}</td>
                    <td>
                        <button class="btn btn-primary" hx-get="/influencer/view?id={{ cmp.id }}"
                                hx-trigger="click" hx-target="#content">View
                        </button>
                    </td>
                    <td>
                        <button id="req-btn" class="btn" style="background-color: var(--accent)"
                                hx-post="/influencer/send_req/{{ cmp.id }}" hx-swap="outerHTML:beforeend"
                                hx-trigger="click" hx-target="this">
                            Send Request
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}