{% extends 'layouts/dashboard_layout.html' %}

{% block title %}
    Overview
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        #welcome {
            width: 50%;
            height: calc(12% * 1.618);
            align-self: center;
        }
        #content{
            display: flex;
            flex-direction: row;
        }
    </style>
{% endblock %}

{% block profile_pic %}
    <img src="{{ url_for('static',filename="/uploads/" + user['image']) }}" alt="profile pic" width="65px" height="57px" style="border-right: 30px;">
{% endblock %}

{% block tab_content %}
    <div class=" card" id="welcome">
    Welcome {{ user.name }}
    </div>
{% endblock %}