<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">

    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
</head>
<body>
This is about page
sdf
<button type="button" class="btn btn-outline-primary">Base class</button>
<button class="btn btn-primary">Click Me </button>
</body>
</html>