{% extends 'layouts/default.html' %}

{% block title %}
    Create Profile
{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        .sidebar {
            background: #a5a5a533;
            width: 200px;
            padding: 4px;
            margin: 2vh;
            height: 90vh;
            border-radius: 1rem;
            display: flex;
        }

        .sidebar a {
            text-decoration: none;
            border-radius: 3px;
            border-color: antiquewhite;
            background: var(--accent);
            padding: 6px;
            text-align: center;
        }

        #content {
            position: relative;
            background: #dbdbdb;
            width: -webkit-fill-available;
            margin: 2vh;
            border-radius: 1vh;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    <div style="    display: flex;flex-direction: row;">

        <div class="sidebar" style="visibility: hidden">
            <nav class="navbar" style="justify-content: center">
                <div class="profile" style="align-self: flex-start;width: fit-content; ">
                    <img src="{{ url_for('static',filename='logo.svg') }}" alt="profile pic" width="31px" height="25px">
                    <a href="{{ url_for ("common.profile", username=session['session']) }}"
                       style="background: none"> {{ session['username'] }}</a>
                </div>
                <div class="container-fluid" style="align-self: flex-start">
                    <div class="row m-2 gap-4">
                        <a href=""> Overview </a>
                        <a> Campaigns</a>
                        <a> Find</a>
                        <a> Stats</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="grid" id="content" style="align-content: center">
            {% if session['role'] == 'Influencer' %}
                I am influencer

                <div class="card-body " style="display: flex; place-content: center">

                    <form method="post" style="width: 3in;" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Full Name</label>
                            <input type="text" name="fullname" class="form-control" id="fullname"
                                   aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Your Email</label>
                            <input name="email" type="email" class="form-control" id="email"
                                   aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="num" class="form-label"> Phone Number </label>
                            <input name="phone_number" type="number" class="form-control" id="num"
                                   aria-describedby="emailHelp">
                        </div>


                        <div class="mb-3">
                            <label for="Cname" class="form-label">Gender</label>
                            <input name="gender" type="text" class="form-control" id="Cname">
                        </div>

                        <div class="form-floating mb-3">
                            <select name="gender" class="form-select" aria-label="select Gender" id="selectGender">
                                <option selected value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                            <label for="selectGender" class="form-label ">Gender</label>
                        </div>

                        <div class="mb-3">
                            <label for="website" class="form-label">Channel / Website Link</label>
                            <input name="link" type="text" class="form-control" id="website">
                        </div>

                        <div class="mb-3">
                            <label for="industry" class="form-label">Niche</label>
                            <input name="niche" type="text" class="form-control" id="industry">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">Profile Picture</label>
                            <input name="file" class="form-control" type="file" id="formFile">
                        </div>

                        <button type="submit" class="btn btn-primary" style="justify-self: center">Submit</button>
                    </form>
                </div>

            {% endif %}

            {% if session['role'] == 'Sponsor' %}

                <div class="card-body " style="display: flex; place-content: center">

                    <form method="post" style="width: 3in;" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Full Name</label>
                            <input type="text" name="fullname" class="form-control" id="fullname"
                                   aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Your Email / Company Email</label>
                            <input name="email" type="email" class="form-control" id="email"
                                   aria-describedby="emailHelp">
                        </div>

                        <div class="mb-3">
                            <label for="num" class="form-label"> Phone Number </label>
                            <input name="phone_number" type="number" class="form-control" id="num"
                                   aria-describedby="emailHelp">
                        </div>


                        <div class="mb-3">
                            <label for="Cname" class="form-label">Company Name</label>
                            <input name="company_name" type="text" class="form-control" id="Cname">
                        </div>

                        <div class="mb-3">
                            <label for="website" class="form-label">Company Website</label>
                            <input name="website" type="text" class="form-control" id="website">
                        </div>

                        <!-- <div class="mb-3">
                            <label for="industry" class="form-label">Industry</label>
                            <input name="industry" type="text" class="form-control" id="industry">
                        </div> -->

                        <div class="form-floating mb-3">
                            <select name="industry" class="form-select" aria-label="select Role" id="inputType">
                                <option selected value="TECH">TECH</option>
                                <option value="FASHION">FASHION</option>
                                <option value="EDUCATIONAL">EDUCATIONAL</option>
                                <option value="TRANSPORTATION">TRANSPORTATION</option>

                            </select>
                            <label for="inputType" class="form-label "> Type </label>
                        </div>

                        <button type="submit" class="btn btn-primary" style="justify-self: center">Submit</button>
                    </form>
                </div>

            {% endif %}

        </div>
    </div>
{% endblock %}