{% extends 'layouts/default.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        .sidebar {
            background: #a5a5a533;
            width: 200px;
            padding: 4px;
            margin: 2vh;
            height: 90vh;
            border-radius: 1rem;
            display: flex;
        }

        .sidebar a {
            text-decoration: none;
            color: black;
            border-radius: 3px;
            border-color: antiquewhite;
        {#background: var(--accent);#} background: #dafff4;
            padding: 6px;
            text-align: center;
            transition: background-color .5s;
        }

        .sidebar a:hover {
            background-color: var(--accent);
        }

        .sidebar a.active {
            background-color: var(--accent);
        }

        #content {
            position: relative;
            background: #dbdbdb;
            width: -webkit-fill-available;
            margin: 2vh;
            border-radius: 1vh;
        }
    </style>

    <script defer>
        let tab_name = ''
        document.addEventListener("DOMContentLoaded", function () {
            const tabs = document.querySelectorAll(".sidebar a")

            for (let i = 0; i < tabs.length; i++) {
                if (tabs[i]['classList'].contains('active')) {
                    console.log("Active tabs is")
                    console.log(tabs[i])

                    tab_name = tabs[i]['className'][1]

                } else {
                }
            }
            console.log(tabs)
            const currentPath = window.location.pathname.split("/").pop()
            console.log("DOM fully loaded and parsed");

        })
    </script>
{% endblock %}

{% block content %}
    <div style="    display: flex;flex-direction: row;">

        <div class="sidebar">
            <nav class="navbar" style="justify-content: center">
                <div class="profile" style="align-self: flex-start;width: fit-content; ">
                    <img src="{{ url_for('static',filename='logo.svg') }}" alt="profile pic" width="31px" height="25px">
                    <a href="{{ url_for ("profile", username=g.username) }}"
                       style="background: none"> {{ g.username }}</a>
                </div>
                <div class="container-fluid" style="align-self: flex-start">
                    <div class="row m-2 gap-4">
                        <a href="" class="overview"> Overview </a>
                        <a href="/campaigns" class="active campaigns"> Campaigns</a>
                        <a href="/campaigns/find" class="find"> Find</a>
                        <a class="stats"> Stats</a>
                    </div>

                </div>
            </nav>
        </div>
        <div class="" id="content">
            {% if session['tab'] == "campaigns" %}
                Hello Campaigns
                <div class="d-flex">
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                         aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Modal 1</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <form class="form1" method="post" enctype="multipart/form-data"  id="addForm">
                                        <div class="form-floating mb-3">
                                            <input name="Email" type="email" class="form-control" id="InputEmail1"
                                                   aria-describedby="emailHelp" placeholder="name@example.com">
                                            <label for="InputEmail1" class="form-label"> Campaigns Name </label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input name="password" type="password" class="form-control"
                                                   id="InputPassword1" placeholder="Password">
                                            <label for="InputPassword1" class="form-label "> Type </label>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" form="addForm" class="btn btn-secondary" data-bs-dismiss="modal">Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Add Campaigns
                    </button>
                </div>
            {% endif %}

            {% if session['tab'] == "find" %}
                Hello find
            {% endif %}
        </div>
    </div>




{% endblock %}

