{% extends 'layouts/default.html' %}

{% block title %}
    Profile
{% endblock %}

{% block head %}
    {{ super() }}

    <style>
        body {
            display: grid;
            grid-template-rows: auto;
        }

        .sidebar {
            background: #a5a5a533;
            width: 200px;
            padding: 4px;
            margin: 2vh;
            height: 90vh;
            border-radius: 1rem;
            display: flex;
        }

        .sidebar a {
            text-decoration: none;
            border-radius: 3px;
            border-color: antiquewhite;
            background: var(--accent);
            padding: 6px;
            text-align: center;
        }
    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const tabs = document.querySelectorAll(".tab")

            const currentPath = window.location.pathname.split("/").pop()


        })
    </script>
{% endblock %}

{% block content %}
    $)$  ERROR

{% endblock %}