{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {
        {#display: flex;#}{#flex-direction: column;#}{#gap: 5px;#} display: grid;
            grid-template-rows: 100px 100px 100px;
            font-family: var(--font-poppins), serif;
        }
    </style>

    <script type="text/javascript">
        const toastTrigger = document.getElementById('formbtn')
        const toast = document.getElementById('toast_')
    </script>
{% endblock %}

{% block content %}

    <div class="card text-center mb-3 p-3" style="width: 20rem; grid-row: 4; justify-self: end; right: 3in;">

        <div class="card-body">
            <form class="form1" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="InputEmail1" class="form-label">Email address OR username</label>
                    <input name="Email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="InputPassword1" class="form-label ">Password</label>
                    <input name="password" type="password" class="form-control" id="InputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/auth/signup" class="btn btn-primary">New User</a>
            </form>

        </div>
    </div>

    <div class="msg">

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast_" data-delay="3000">
            <div class="toast-header">
                <strong class="me-auto">Bootstrap</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {% for message in get_flashed_messages() %}
                    {{ message }}
                    d
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}