<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
    />
      <title>Test</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style_index.css") }}">
    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}">
  </head>
  <body>
    <div class="home-page">
      <div class="home-page-child"></div>
        <div class="home-page-child-1"></div>
      <nav class="content-wrapper">
        <div class="content-wrapper-child"></div>
        <div class="ellipse-parent">
          <div class="frame-child">
              <img src="{{ url_for('static',filename='logo.svg') }}" alt="profile pic"
                   style="width: inherit; height: inherit">
          </div>

          <div class="company-name-wrapper">
            <a class="company-name" >Influx Connect</a>
          </div>
        </div>
        <div class="navigation">
          <div class="frame-parent">
            <button class="rectangle-parent">
              <div class="frame-item"></div>
              <a class="home nav-link" href="/">Home</a>
            </button>
            <div class="frame-wrapper">
              <button class="rectangle-group">
                <div class="frame-inner"></div>
                <a class="about-us nav-link" href="/about">About Us</a>
              </button>
            </div>
            <button class="rectangle-container">
              <div class="rectangle-div"></div>
              <a class="content-us">Content Us</a>
            </button>
          </div>
        </div>
        <div class="content-wrapper-inner">
          <button class="group-button">
            <div class="frame-child1"></div>
            <a class="login nav-link" href="/auth/login">Login</a>
          </button>
        </div>
      </nav>
      <section class="frame-group">
        <div class="ellipse-wrapper">
          <div class="ellipse-div"></div>
        </div>
        <div class="brand-creator-parent">
          <a class="brand-creator" href="/auth/signup">
            <div class="brand-creator-child"></div>
            <div class="i-am-a">I Am a Brand</div>
          </a>
          <a class="brand-creator1" href="/auth/signup">
            <div class="brand-creator-item"></div>
            <div class="i-am-a1">I Am a Creator</div>
          </a>
        </div>
      </section>
    </div>
  </body>
</html>