{% extends 'layouts/dashboard_layout.html' %}

{% block title %}
    Find Influencer
{% endblock %}

{% block tab_content %}

{#    <div class="container mt-5 table-responsive">#}
{#        <h2 class="mb-4">Campaigns Table</h2>#}
{#        <table class="table table-bordered ">#}
{#            <thead class="text-center">#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <th>Tile</th>#}
{#                <th>Budget </th>#}
{#                <th>Description</th>#}
{#                <th>Start Date</th>#}
{#                <th>End Date</th>#}
{#                <th>Status</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody class="table-group-divider text-center">#}
{#            {% for cmp in infs %}#}
                {#                sponsors#}
{#                {{ sponsor }}#}
{#                                <tr>#}
{#                                    <td>{{ cmp.user_id }}</td>#}
{#                                    <td>{{ cmp.name }}</td>#}
{#                                    <td>{{ cmp.gender }}</td>#}
{#                                    <td>{{ cmp.niche }}</td>#}
{#                                    <td>{{ cmp.channel }}</td>#}
{#                                    <td>{{ cmp.email }}</td>#}
{#                                </tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{% endblock %}